# Queries and visualization with DuckDB
I love DuckDB so much.

In [2]:
# Me irl: No brainer analyst
import pandas as pd 
import duckdb
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [4]:
%load_ext sql
%sql sqlite:///../sales.db

### Testing: `DuckDB` demonstration

Sample code for storing query result into variable

In [4]:
%%sql result <<
SELECT * FROM accounts;

Returning data to local variable result

In [5]:
result

,index,id,name,website,lat,long,primary_poc,sales_rep_id
0,0,1001,Walmart,www.walmart.com,40.238496,-75.103297,Tamara Tuma,321500
1,1,1011,Exxon Mobil,www.exxonmobil.com,41.169156,-73.849374,Sung Shields,321510
2,2,1021,Apple,www.apple.com,42.290495,-76.084009,Jodee Lupo,321520
3,3,1031,Berkshire Hathaway,www.berkshirehathaway.com,40.949021,-75.763898,Serafina Banda,321530
4,4,1041,McKesson,www.mckesson.com,42.217093,-75.284998,Angeles Crusoe,321540
...,...,...,...,...,...,...,...,...
346,346,4461,KKR,www.kkr.com,45.545353,-122.655247,Buffy Azure,321970
347,347,4471,Oneok,www.oneok.com,45.513513,-122.681500,Esta Engelhardt,321960
348,348,4481,Newmont Mining,www.newmont.com,45.494117,-122.669460,Khadijah Riemann,321970
349,349,4491,PPL,www.pplweb.com,45.491720,-122.671880,Deanne Hertlein,321960
350,350,4501,SpartanNash,www.spartannash.com,45.555651,-122.657145,Jewell Likes,321970

### Queries and visualization (ft. `matplotlib` & `seaborns`)

Using `PRAGMA` for checking the information of the table

In [5]:
%%sql
-- Datatypes of orders 
PRAGMA table_info(accounts);

   cid          name     type  notnull dflt_value  pk
0    0         index  INTEGER        0       None   0
1    1            id  INTEGER        0       None   0
2    2          name     TEXT        0       None   0
3    3       website     TEXT        0       None   0
4    4           lat     REAL        0       None   0
5    5          long     REAL        0       None   0
6    6   primary_poc     TEXT        0       None   0
7    7  sales_rep_id  INTEGER        0       None   0